.img_logo {
    max-width: 120px;
    max-height: 60px;
}

.card {
    width: 20rem;

}
 
  .center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }

  .pagination a:hover{
    background-color: black;
    color:white;
  }

  .form-select {
    width: 12rem;
  }
  

  